.App {
  background-color: rgb(23, 31, 151);
  padding-bottom: 10rem;
}

#Titre {
  text-align: center;
}

.StationsAndGraph {
  display: flex;
  flex-direction: row;
}

.ListStations {
  /* display: flex;
  flex-direction: column; */
  /* position: relative; */
  text-align: center;
  background-color: rgb(64, 53, 160);
  width: 25%;
  height: 10%;
  margin-top: 10rem;
  margin-bottom: auto;
  margin-left: 7rem;
  border-radius: 20px 20px 20px 20px;
  overflow: auto;
  
}

.Stations {
  display: flex;
  justify-content: left;
  align-content: center;flex-direction: column;
  background-color: rgb(23, 15, 146);
  padding-top: 0.5rem;
  /* width: 20%; */
  /* height: 0%; */
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  overflow: auto;
}

.Station:hover {
  background-color: rgb(15, 15, 15);
  border-radius: 5px 5px 5px 5px;
  cursor: pointer;
}

.Graph {
  position: fixed;
  right: 15em;
  bottom: 4.5em;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  background-color: rgb(9, 19, 31);
  margin-top: 15.5rem;
  margin-bottom: auto;
  margin-left: 7rem;
  border-radius: 20px 20px 20px 20px;
  padding: 1rem 1rem 1rem 0.5rem;
}

#reload {
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
